<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mxmbro.sesame">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application android:name=".SesameApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_logo_sesame_red_black"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_sesame_red_black"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".WelcomeActivity">
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".SesameActivity"
            android:label="@string/title_activity_main2">
            <intent-filter>
                <action android:name=".SesameActivity" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.Intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".SettingsActivity$Preferences" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".EditProfilActivity" />
        <activity android:name=".ProfilActivity" />
        <activity android:name=".RegistrationActivity" />

    </application>

</manifest>